{% for field in form %}
    {% if field.label == 'Remember Me' %}
        <div class="flex items-center gap-2">
            <input
                type="checkbox"
                name="{{ field.name }}"
                id="{{ field.id_for_label }}"
                value="{{ field.value|default:'' }}"
                class="checkbox checkbox-primary"
                {% if field.value %} checked {% endif %}
            >
            <span class="label-text">{{ field.label }}</span>
        </div>
    {% else %}
        <div class="form-control relative">
            <input
                type="{% if field.name == 'password' %}password{% else %}{{ field.type }}{% endif %}"
                name="{{ field.name }}"
                id="{{ field.id_for_label }}"
                value="{{ field.value|default:'' }}"
                placeholder="{{ field.label }}"
                class="input input-bordered input-primary"
            >
            {% if field.name == 'password' %}
                <button
                    type="button"
                    class="absolute inset-y-0 right-2 flex items-center btn btn-sm btn-ghost"
                    onclick="togglePasswordVisibility('{{ field.id_for_label }}')"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12l-3-3m0 0l-3 3m3-3v12m0 0a8 8 0 008-8m0-4a8 8 0 00-8-8M9.6 8a3.6 3.6 0 100 7.2 3.6 3.6 0 100-7.2z" />
                    </svg>
                </button>
            {% endif %}
            {% for error in field.errors %}
                <span class="text-error text-sm">{{ error }}</span>
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}
